


body {
  margin: 0;
  padding: 0;
}
* {
  margin: 0;
  padding: 0;
}

.login-page {
  background: rgb(102, 190, 255);
  background: -moz-linear-gradient(
    90deg,
    rgba(102, 190, 255, 1) 30%,
    rgba(15, 69, 129, 1) 96%
  );
  background: -webkit-linear-gradient(
    90deg,
    rgba(102, 190, 255, 1) 30%,
    rgba(15, 69, 129, 1) 96%
  );
  background: linear-gradient(
    90deg,
    rgba(102, 190, 255, 1) 30%,
    rgba(15, 69, 129, 1) 96%
  );
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#66beff",endColorstr="#0f4581",GradientType=1);
  /* background: url("../../assets/img/login-image/cyber-monday-retail-sales.jpg"); */
 
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100vh;
  
  
}
.count-form {
  width: 450px;
  height: 350px;
  background-color: rgba(242, 226, 248, 0.712);
  position: absolute;
  top: 20%;
  left: 35%;
  text-align: center;
  border-radius: 20px;
  box-shadow: 10px 15px 10px rgb(56, 60, 87);
}
.title{
  margin-top: 20px;
}
.back-home{
  position:absolute;
  top: 310px;
  left: 30px;
  
}
