.pagination{
    display: flex;
    justify-content: flex-start;
    list-style: none;
    cursor: pointer;
  }
  .pagination a{
    padding: 10px;
    border: 1px solid rebeccapurple;
    color: rebeccapurple;
  }
  .pagination__Link{
    font-weight: bold;
  }
  .pagination__Link--active a{
    color: rgb(1, 1, 1);
    border: 1px solid rgb(10, 10, 10);
  }
  .pagination__Link--disabled a{
    color: rgb(239, 80, 80);
    border: 1px solid rgb(51, 51, 51);
  }