.menu {
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 300px;
  background-color: #dab9f8;
  position: fixed;
  height: 100%;
  overflow: auto;
  font-size: 15px;
  overflow-x: hidden;
}

.Hover {
  display: block;
  color: #000;
  padding: 8px 16px;
  text-decoration: none;
}
.active {
  margin-top: 100px;
  width: 100%;
}
.active:hover {
  background-color: #555;
  width: 100%;
  color: white;
}

.Hover:hover:not(.active) {
  background-color: #555;
  width: 100%;
  color: white;
}
.PanleModirit {
  margin-top: 210px;
  list-style: none;
  margin-right: 40px;
}
.PanleModirit:hover:not(.Hover) {
  margin-top: 200px;
  background-color: rgba(249, 252, 255, 0.658);
  width: 190px;
  height: 30px;
  border-radius: 15px;
  box-shadow: 8px 8px 16px rgb(82, 80, 80);
  text-align: center;
}
.loginLogo{
  display: flex;
  justify-content: center;
  
 
}
.Logo{
  position: relative;
  right: 4px;
  top: 4px;
}