.homeCards{
  position: relative;
  margin-right: 350px;
  margin-top: 140px;
}
.new{
  position: relative;
  top: 150px;
  margin-right: 410px;
   
  font-size: 25px;
}
.novels{
  position: relative;
  margin-right: 350px;
 
 
  
}
.img{
  width: 310px;
  
  height: 200px;
  border-radius: 15px;
}
