.basic{
    width: 310px;
    height: 330px;
    background-color: white;
    list-style: none;
    text-align: center;
    border-radius: 15px;
    margin-top: 30px;
    margin-left: 50px;
}
.title{
  font-size: 20px;
}
.prise{
  font-size: 15px;
}
.writer{
  font-size: 15px;
}
.img{
  width: 300px;
  height: 200px;
}
.basic:hover{
 
  box-shadow: 8px 8px 16px rgb(126, 121, 121);
  cursor: pointer;
}
.img:hover{
  width: 310px;
}
.dblock{
   display: inline;
}