.button0{
    position: relative;
    top: 150px;
    right: 550px ;
    left: 50px;
}
.button1{
    position: relative;
    top: 150px;
    right: 600px ;
}
.button2{
    position: relative;
    top: 150px;
    right: 650px ;
}