.box{
    display: flex;
    background-color: rgb(245, 224, 214);
    justify-content: space-between;
    height: 95px;
    position: fixed;
    width:100% ;
    z-index: 500;
}
.menu{
    display: flex;
    list-style: none;
    margin-left: 50px;
    margin-top: 30px;
    cursor: pointer;
    font-size: 25px;
    text-decoration: none;

    
}
li{
    margin-left: 30px;
    
    
}
a:link,a:visited{
    text-decoration: none;
    color: rgb(22, 22, 21);
}
.search{
    margin-top: 10px;
}
.icon{
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    margin-right: 50px;
}
.nameCompony{
    margin-right: 20px;
    margin-top: 30px;
    color: #9747FF;
}
.basket{
    margin-left: 10px;
}
.paragraph{
    position: absolute;
    top: 60px;
    right: 150px;
}